img {
  width: 50px;
}

.blue {
  background-color: rgb(25 150 218);
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.text-white-lato {
  color: white;
  font-family: Lato, sans-serif;
  font-weight: normal;
  text-align: center;
}

.text-grey-lato {
  color: rgb(190 209 220);
  font-family: Lato, sans-serif;
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  margin: 10px auto;
}

.col-center {
  margin: auto;
  width: 75%;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
