.container {
  max-width: 90%;
}

.row {
  display: flex;
  width: 100%;
}

.col-full {
  flex-basis: 100%;
}

.col-fifth {
  flex-basis: calc(100% / 5);
}

.sans-serif {
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.dress-1-img {
  background-image: url("images/dress1.jpeg");
}

.dress-2-img {
  background-image: url("images/dress2.jpeg");
}

.key-img {
  background-image: url("images/key.jpeg");
}

.lv-bag-img {
  background-image: url("images/lv-bag.jpg");
}

.ysl-bag-img {
  background-image: url("images/ysl-bag.jpeg");
}
