.hidden {
  display: none;
}

.container {
  border: 2px solid black;
  max-width: 80%;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
}

.images {
  width: 50%;
  object-fit: cover;
}
