* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  padding: 20px 10px;
}

i {
  padding: 10px;
  color: rgb(19 26 83);
}

i:hover {
  cursor: pointer;
}

.container {
  margin: auto;
  height: 100vh;
  max-width: 900px;
  display: flex;
  align-items: center;
}

.arrows {
  padding: 15px;
}

.hidden {
  display: none;
}

.box {
  border: 2px solid black;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.images {
  width: 50%;
  object-fit: cover;
}
