img {
  width: 100%;
}

i {
  padding: 10px;
}

.arrows {
  padding: 15px;
}

.hidden {
  display: none;
}

.container {
  border: 2px solid black;
  max-width: 80%;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.images {
  width: 50%;
  object-fit: cover;
}
