span {
  color: black;
  font-family: Righteous, cursive;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.space {
  width: 25px;
  height: 40.17px;
  padding: 2px 0;
  margin: 0 2.5px;
}

.line {
  border-bottom: solid 5px;
  color: black;
}

.red-line {
  border-bottom: solid 5px;
  color: red;
}

.font-red {
  color: red;
}

.font-green {
  color: rgb(24 205 27);
}
