span {
  color: black;
  font-family: Righteous, cursive;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.space {
  width: 30px;
}
