header {
  text-align: center;
}

img {
  width: 100%;
}

p {
  font-size: x-small;
  line-height: 1.1rem;
}

h5 {
  margin: 0;
}

.container {
  width: 600px;
  margin: auto;
}

.row {
  width: 100%;
  margin: 25px 0;
  font-family: Karla, sans-serif;
}

.column-full {
  display: flex;
  flex-basis: 100%;
}

.column-half {
  display: flex;
  flex-basis: 50%;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.column-fourth {
  flex-basis: 25%;
}

.column-three-fourth {
  flex-basis: 75%;
}

.justify-center {
  justify-content: center;
}

.text-padding {
  padding: 20px 35px 20px 10px;
}
