button {
  background-color: rgb(41 68 100);
  color: white;
  border: none;
  border-radius: 3px;
}

.container {
  max-width: 80%;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}

.space-evenly {
  justify-content: space-evenly;
  align-items: center;
}

.flex {
  display: flex;
}

.col-half {
  flex-basis: 50%;
}

.header-button {
  font-size: x-small;
  padding: 10px 15px;
}
